@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.rdrMonth {
  width: 100% !important;
}

.rdrMonthAndYearWrapper {
  width: 100% !important;
  font-size: 16px !important;
}

@media (max-width: 768px) {
  .mobile-view {
    /* Styles for mobile view */
    display: flex;
    flex-direction: column;
  }
}
